/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.clj-kondo/
/.lsp/
/.eastwood
/op5-license-inspector
/op5-license-inspector.build_artifacts.txt
/op5-license-inspector-*
/*.gz
